* {
    color: #444;
    font-family: Helvetica, Arial;
}
.root:before {
    content: ' ';
    z-index: -1;
    left: 0;
    background-size: cover;
    right: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
    height: 100%;
    background-image: url("http://d.ibtimes.co.uk/en/full/1428737/jose-mourinho.jpg");
    opacity: .1;
    display: block;
}

.root {
    width: 75%;
    margin: auto;
}

.user {
    font-size: 25px;
}

.user .name {
    float: left;
    width: 75%;
    cursor: pointer;
    margin-right: 50px;
}

.wrapper {
    height: 0;
    overflow: hidden;
    transition: all .5s ease-in;
}

.wrapper.active {
    height: 550px;
}

table {
    width: 75%;
    font-size: .75em;
    margin-left: 30px;
}

.position {
    color: #666;
}

.position.down {
    color: red;
}

.position.up {
    color: green;
}

th {
    text-align: left;
}

tr:nth-child(2n) {
    background: #CCC;
}
